@import url("https://fonts.googleapis.com/css2?family=Lato");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f6f8;
  height: 100vh;
  font-family: "Lato";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  z-index: 1000;

  /* Fundo escuro semi-transparente */
  background: #9b999930;

  /* Efeito de desfoque (Glassmorphism) */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Compatibilidade com Safari */

  /* Borda fina e brilho Neon Amarelo Dourado na parte inferior */
  border-bottom: 2px solid #ffd700;
  box-shadow:
    0 4px 15px rgba(255, 215, 0, 0.4),
    0 0 30px rgba(255, 215, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-img-header {
  height: 100%;
}

.img-logo {
  max-width: 500px;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px gray;
}

nav {
  width: 55%;
  height: 60%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  text-decoration: none;
  color: #151515;
  box-shadow: 1px 1px 1px 1px rgba(56, 56, 56, 0.823);
  padding: 0.5rem;
  padding: 12px 32px;
  border-radius: 50px;
  background: #9b999930;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.nav-links:hover {
  transform: scale(1.08);
}
.nav-links:after {
  content: "";
  background: #f1cf0f;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 1s;
}

.nav-links:active:after {
  transform: skewX(-45deg) scale(5, 5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}



.first-section {
  background-image: url("images/fundo-portifolio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  min-height: 750px;
}

.first-section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

h1 {
  font-size: 4rem;
  color: var(--white);
  letter-spacing: 8px;
}

.first-section p {
  color: var(--white);
}

.box-img-main {
  max-width: 450px;
  padding: 1rem;
}

.img-profile {
  border-radius: 50%;
  width: 100%;
}
.img-who-am-i {
  width: 350px;
  border-radius: 50%;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 600px;
  scroll-margin-top: 40vh;
}
.second-section {
  display: flex;
  justify-content: center;
  gap: 5rem;
  min-height: 500px;
  background-color: #181b20;
  color: white;
  align-items: center;
}
.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card-project {
  width: 300px;
  /* height: 400px; */
  border: 1px solid #ffd700;
  margin: 50px;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  box-shadow: 1px 1px 1px gray;
}
.acordeom {
  background-color: #ffd700;
  width: 100%;
  height: 5vh;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acordeom > i {
  width: 20px;
  height: 20px;
  color: black;
}

@keyframes animacaoSeta {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px); /* Desce até o limite */
  }
  100% {
    transform: translateY(0); /* Volta à posição original */
  }
}

.icone-animando {
  animation: animacaoSeta 0.25s ease-in-out;
}

.acordeom:hover {
  background-color: #dfc634;
}

.img-project {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  display: block;
}
.card-body {
  background-color: white; /* Fundo escuro semi-transparente */
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 1s ease-out,
    opacity 0.3s ease;
  opacity: 0;
}

.card-project.ativo  .card-body {
  max-height: 500px; /* Um valor suficiente para cobrir todo o conteúdo */
  opacity: 1;
  padding: 20px;
}
.card-button {
  margin-top: 7px;
  border-radius: 20px;
  font-size: 1rem;
  padding: 7px;
  border: none;
  background-color: #ffd700;
  color: #181b20;
  box-shadow: 1px 1px 1px gray;
}

.card-button:hover {
  background-color: #dfc634;
  color: white;
}

.fourth-section{
  
}

footer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

